*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
}
.quotes{
  width: 70%;
  height: 50vh;
  background-color: 	pink;
  margin: auto;
 position: relative;
  top:15vh;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 6;
}
.quotes p{
  background: white;
  width: 90%;
  height: 25vh;
  margin: auto;
  position:absolute;
  top:70px;
 padding: 10px;
display: flex;
text-align: center;
justify-content: center;
font-family: monospace;
font-size: 18px;
left: 5%;
}
.quotes button{
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top:78%;
left: 43%;
padding: 9px;
border-radius: 18px;
cursor: pointer;
font-family: monospace;
font-size: 18px;
}
.quotes #author{

  font-family: monospace;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top:58%;
  left: 43%;
  align-items:baseline;
  text-align: :baseline;
}
.quotes #author::before{
  content: "-";
  font-size: 30px;

}
